header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/headerbackgroundblizzard-1920x1080.png");
  position: relative;
  top: 120px;
}
.alignImage {
  align-items: center;
  flex-direction: column;
}

