/* Desktop styles */
@media only screen and (max-width: 1024px) {
 nav {
  background-image: url(../images/headerbackgroundblizzard-1920x1080.png);
 }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  #mainheader {
    margin-top: 40px;
    margin-left: 40px;
    width: 30%;
    float: left;
  }
  .container {
    width: 60%;
    float: right;
    margin-right: 40px;
  }
}
