/* Desktop styles */
@media only screen and (min-width: 1024px) {
  #mainheader {
    margin-top: 40px;
    margin-left: 40px;
    width: 30%;
    float: left;
  }
  .container {
    width: 60%;
    float: right;
    margin-right: 40px;
  }
}
